@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Pacientes";
}


<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("Pacientes", new { @class="pag_a", pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("Pacientes", new { @class="pag_a", pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("Pacientes", new { pagina = ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>



<h1>Pacientes</h1>


<div class="tablas bg-white overflow-auto">

    <table class="table w-100 table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>

                <!--
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>-->
                <th scope="col">Fecha</th>
                

                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Rows.Count; index++)
            {
                <tr>
                    <th scope="row">@(index + 1)</th>
                    <td>@Convert.ToString(Model.Rows[index]["Nombre"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["Apellido"])</td>

                    <!--
                    <td>@Convert.ToString(Model.Rows[index]["Edad"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["Genero"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["Direccion"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["Telefono"])</td>-->
                    <td>@Convert.ToString(Model.Rows[index]["FechaIngreso"])</td>
                    

                    <td style="width:100px;">
                        <a href="@Url.Action("DetallesPaciente", "Detallesvistas", new { id = Model.Rows[index]["PacienteID"] })" class="btn w-100 bg-secondary text-white">Detalles</a>
                    </td>
                    <td style="width:100px;">
                        <form asp-action="Eliminarpaci" asp-controller="Paciente" method="post">
                            <input type="hidden" name="id" value="@Model.Rows[index]["PacienteID"]" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>


                </tr>
            }

        </tbody>
    </table>

</div>