@model softwareDeGestión.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<br />

<br /><br />

<!-- Cuerpo del modal con el formulario -->
<div class="container shadow p-4 mb-2 bg-white">
    <h3 class="text-center"><i class="bi bi-pen"></i> Editar usuario</h3>
    <form asp-controller="Usuarios" asp-action="Guardarupdateusuario" method="post">
        <input type="hidden" value="@ViewBag.MiArrayUE[0][0]" name="id" />
        <div class="mb-3">
            <label for="nombre_usuario" class="form-label">Nombres</label>
            <input id="nombre_usuario" name="cambio" class="form-control" value="@ViewBag.MiArrayUE[0][1]" placeholder="Ingrese Usuario.">
            <span asp-validation-for="nombre_usuario" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
        <a class="btn bg-secondary float-end text-white" asp-controller="Usuarios" asp-action="Index"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
    </form>
</div>




<div class="container shadow p-4 mb-2 bg-white">
    <h3 class="text-center"><i class="bi bi-pen"></i> Editar contraseña</h3>
    <form asp-controller="Usuarios" asp-action="Guardarupdatepass" method="post">
        <input type="hidden" value="@ViewBag.MiArrayUE[0][0]" name="id" />
        <div class="mb-3">
            <label for="password_usuario" class="form-label">Contraseña</label>
            <input id="password_usuario" type="password" name="cambio" class="form-control" placeholder="Nueva Contraseña.">
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
        <a class="btn bg-secondary float-end text-white" asp-controller="Usuarios" asp-action="Index"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
    </form>
</div>




<div class="container shadow p-4 mb-2 bg-white">
    <h3 class="text-center"><i class="bi bi-pen"></i> Editar estado</h3>
    <form asp-controller="Usuarios" asp-action="Guardarupdateestado" method="post">
        <input type="hidden" value="@ViewBag.MiArrayUE[0][0]" name="id" />
        <div class="mb-3">
            <label for="estado_usuario" class="form-label">Nombres</label>
            <select id="estado_usuario" name="cambio" class="form-control" value="@ViewBag.MiArrayUE[0][2]">
                <option value="Activo" selected="@((string)ViewBag.MiArrayUE[0][2] == "Activo")">Activo</option>
                <option value="Inactivo" selected="@((string)ViewBag.MiArrayUE[0][2] == "Inactivo")">Inactivo</option>
            </select>
        </div>
            
        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
        <a class="btn bg-secondary float-end text-white" asp-controller="Usuarios" asp-action="Index"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
    </form>
</div>

