@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Empleados";
}


<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("Empleados", new { @class="pag_a", pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("Empleados", new { @class="pag_a", pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("Empleados", new { pagina = ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>


<br />
<h1>Empleados</h1>
<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="NuevoEmpleado">Nuevo</a>
<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="Index">Ver Usuarios</a>
<br /><br />

<div class="tablas bg-white overflow-auto">

    <table class="table w-100 table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Creación</th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Rows.Count; index++)
            {
                <tr>
                    <th scope="row">@(index + 1)</th>
                    <td>@Convert.ToString(Model.Rows[index]["nombres_empleado"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["apellidos_empleado"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["telefono_empleado"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["direccion_empleado"])</td>
                    <td>@Convert.ToString(Model.Rows[index]["fecha_creacion_empleado"])</td>

                    <td style="width:100px;">
                        <a href="@Url.Action("EditarEmpleado", "Usuarios", new { id = Model.Rows[index]["EmpleadoID"] })" class="btn btn-success">Editar</a>
                    </td>
                    <td style="width:100px;">
                        <form asp-action="Eliminaremp" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@Model.Rows[index]["EmpleadoID"]" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    

                </tr>
            }

        </tbody>
    </table>

</div>