@model softwareDeGestión.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Usuarios";
}

<br />
<br />
<h1>Usuarios</h1>
<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="NuevoUsuario">Nuevo</a>
<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="Empleados">Ver Empleados</a>
<a class="btn bg-secondary text-white" asp-controller="Home" asp-action="Privacy">Regresar</a>

<br />
<br />


<div class="w-100 bg-white overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estadot</th>
                <th scope="col">Rol</th>
                <th scope="col">Creación</th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < ViewBag.DatosTabla1.Count; index++)
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@ViewBag.DatosTabla1[index].nombre_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].estado_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].rol_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].fecha_creacion_usuario</td>

                    <td style="width:100px;">
                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = ViewBag.DatosTabla1[index].codigo_usuario })" class="btn btn-success">Editar</a>
                    </td>

                    <td style="width:100px;">
                        <form asp-action="Eliminarusu" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@ViewBag.DatosTabla1[index].codigo_usuario" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
</div>

