@model softwareDeGestión.Models.Usuarios.Usuario

@{
    ViewData["Title"] = "Usuarios";
}

<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("Index", new { @class="pag_a", pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("Index", new { @class="pag_a", pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>

<br />
<div class="mt-5" style="padding:0 20px;">
    <h1><i class="bi bi-person-fill"></i> Usuarios</h1>
    <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="NuevoUsuario"><i class="bi bi-person-fill-add"></i> Nuevo</a>
    <a class="btn btn-secondary" asp-controller="Empleados" asp-action="Empleados"><i class="bi bi-person-vcard"></i> Ver Empleados</a>
    <a class="btn btn-secondary" asp-controller="Paciente" asp-action="Pacientes"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
</div>



<div class="tablas bg-white overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estadot</th>
                <th scope="col">Rol</th>
                <th scope="col">Creación</th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < ViewBag.DatosTabla1.Count; index++)
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@ViewBag.DatosTabla1[index].nombre_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].estado_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].rol_usuario</td>
                    <td>@ViewBag.DatosTabla1[index].fecha_creacion_usuario</td>

                    <td style="width:150px;">
                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = ViewBag.DatosTabla1[index].codigo_usuario })" class="btn btn-secondary" ><i class="bi bi-person-lines-fill"></i> Editar</a>
                    </td>

                    <td style="width:150px;">
                        <form asp-action="Eliminarusu" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@ViewBag.DatosTabla1[index].codigo_usuario" />
                            <button type="submit" class="btn btn-danger"><i class="bi bi-person-dash-fill"></i> Eliminar</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
</div>

