@model softwareDeGestión.Models.Vistas.Prescripciones

@{
    ViewData["Title"] = "Prescripciones.";
}

<p class="mt-2 detalles"><strong>Total Paginas:</strong> @ViewBag.TotalPaginas, <strong>Datos por tabla:</strong> @ViewBag.DatosTabla1.Count</p>
<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("Prescripciones", new { id=ViewBag.id, pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("Prescripciones", new { id=ViewBag.id, pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("Prescripciones", new {  id=ViewBag.id, pagina= ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>

<div class="div-title-vistas">
    <h2 class="float-end m-0 p-0"><strong><i class="bi bi-person-lines-fill"></i> Prescripciones</strong></h2>
<span class="clearfix"></span>
<h3 class="float-end m-0 p-0"><strong>Paciente:</strong> @ViewBag.name</h3>

    <a href="@Url.Action("DetallesPaciente", "Detallesvistas", new { id = ViewBag.id })" class="btn text-white" style="background-color: teal;"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
<!--<a class="btn bg-secondary text-white" asp-controller="DetallesVistas" asp-action="DetallesPaciente">Regresar</a>-->
    <a class="btn text-white" style="background-color: teal;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle"></i> Agregar resultado</a>
<!--<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="Empleados">Ver Empleados</a>-->

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center fs-5" id="exampleModalLabel"><i class="bi bi-file-earmark-plus"></i> Agregar Nuevo.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Detallesvistas" asp-action="Guardarpres" method="post">
                <input type="hidden" asp-for="PacienteID" value="@ViewBag.id" />
                <input type="hidden" asp-for="name" value="@ViewBag.name" />
                <div class="modal-body">

                    <div class="mb-2">
                        <label asp-for="MedicamentoID" class="form-label">Medicamento</label>
                        <select asp-for="MedicamentoID" class="form-control">
                            <option></option>
                            @foreach (var elemento in ViewBag.MiArray)
                            {
                                <option value="@elemento[0]">@elemento[1]</option>
                            }
                        </select>
                        <span asp-validation-for="MedicamentoID" class="text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <label asp-for="DosisPrescrita" class="form-label">Dosis Prescrita</label>
                        <input asp-for="DosisPrescrita" class="form-control" id="Comentarios">
                        <span asp-validation-for="DosisPrescrita" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="DuracionPrescripcion" class="form-label">Duracion Prescripcion</label>
                        <input asp-for="DuracionPrescripcion" class="form-control" id="otros">
                        <span asp-validation-for="DuracionPrescripcion" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="NotasAdicionales" class="form-label">Notas Adicionales</label>
                        <input asp-for="NotasAdicionales" class="form-control" id="otros">
                        <span asp-validation-for="NotasAdicionales" class="text-danger"></span>
                    </div>
                    

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn text-white" style="background-color:teal;"><i class="bi bi-save"></i> Guardar Información</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="tablas bg-white overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NombreMedicamento</th>
                <th scope="col">DescripcionMedicamento</th>
                <th scope="col">InstruccionesUso</th>
                <th scope="col">EfectosSecundarios</th>

                <th scope="col">FechaPrescripcion</th>
                <th scope="col">DosisPrescrita</th>
                <th scope="col">DuracionPrescripcion</th>
                <th scope="col">NotasAdicionales</th>
                <!--
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
                -->
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < ViewBag.DatosTabla1.Count; index++)
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@ViewBag.DatosTabla1[index].NombreMedicamento</td>
                    <td>@ViewBag.DatosTabla1[index].DescripcionMedicamento</td>
                    <td class="">@ViewBag.DatosTabla1[index].InstruccionesUso</td>
                    <td class="">@ViewBag.DatosTabla1[index].EfectosSecundarios</td>


                    <td class=""><strong>@ViewBag.DatosTabla1[index].FechaPrescripcion</strong></td>
                    <td class=""><strong>@ViewBag.DatosTabla1[index].DosisPrescrita</strong></td>
                    <td class=""><strong>@ViewBag.DatosTabla1[index].DuracionPrescripcion</strong></td>
                    <td class=""><strong>@ViewBag.DatosTabla1[index].NotasAdicionales</strong></td>
                    <!--
                    <td style="width:100px;">
                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = ViewBag.DatosTabla1[index].PrescripcionID })" class="btn btn-success">Editar</a>
                    </td>

                    <td style="width:100px;">
                        <form asp-action="Eliminarusu" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@ViewBag.DatosTabla1[index].PrescripcionID" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    -->
                </tr>
            }

        </tbody>
    </table>

</div>

