@model softwareDeGestión.Models.Vistas.ResultadosLaboratorio

@{
    ViewData["Title"] = "Resultado de Laboratorio.";
}

<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new { id=ViewBag.id, pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new { id=ViewBag.id, pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new {  id=ViewBag.id, pagina= ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>

<br />
<h2 class="float-end m-0 p-0"><strong>Resultados Laboratorio</strong></h2>
<span class="clearfix"></span>
<h3 class="float-end m-0 p-0"><strong>Paciente:</strong> @ViewBag.name</h3>

<a href="@Url.Action("DetallesPaciente", "Detallesvistas", new { id = ViewBag.id })" class="btn bg-secondary text-white">Regresar</a>
<!--<a class="btn bg-secondary text-white" asp-controller="DetallesVistas" asp-action="DetallesPaciente">Regresar</a>-->
<a class="btn bg-secondary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar resultado</a>
<!--<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="Empleados">Ver Empleados</a>-->

<br /><br />
<p><strong>Total Paginas:</strong> @ViewBag.TotalPaginas, <strong>Datos por tabla:</strong> @ViewBag.DatosTabla1.Count</p>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Resultado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" name="id" value="@ViewBag.id" />
                <div class="modal-body">
                
                    <div class="mb-2">
                        <label for="glucosa" class="form-label">Nivel Glucosa</label>
                            <input type="number" step="0.2" class="form-control" id="glucosa" required>
                    </div>
                    <div class="mb-2">
                        <label for="Comentarios" class="form-label">Comentarios</label>
                        <input type="text" class="form-control" id="Comentarios" required minLength="3">
                    </div>
                    <div class="mb-4">
                        <label for="otros" class="form-label">Otros Resultados</label>
                        <input type="text" class="form-control" id="otros" required minLength="3" maxLength="200"  >
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="tablas bg-white overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha control</th>
                <th scope="col">Nivel glucosa</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Otros resultados</th>
                <!--
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
                -->
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < ViewBag.DatosTabla1.Count; index++)
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@ViewBag.DatosTabla1[index].FechaControl</td>
                    <td>@ViewBag.DatosTabla1[index].NivelGlucosa</td>
                    <td>@ViewBag.DatosTabla1[index].Comentarios</td>
                    <td>@ViewBag.DatosTabla1[index].OtrosResultados</td>
                    <!--
                    <td style="width:100px;">
                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = ViewBag.DatosTabla1[index].ResultadoID })" class="btn btn-success">Editar</a>
                    </td>

                    <td style="width:100px;">
                        <form asp-action="Eliminarusu" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@ViewBag.DatosTabla1[index].ResultadoID" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    -->
                </tr>
            }

        </tbody>
    </table>

</div>

