@model softwareDeGestión.Models.Vistas.ResultadosLaboratorio

@{
    ViewData["Title"] = "Resultado de Laboratorio.";
}

<p class="mt-2 detalles"><strong>Total Paginas:</strong> @ViewBag.TotalPaginas, <strong>Datos por tabla:</strong> @ViewBag.DatosTabla1.Count</p>

<div class="pager-container pag">
    <span class="px-2">Página @ViewBag.PaginaActual de @ViewBag.TotalPaginas</span>
    @if (ViewBag.PaginaActual > 1)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new { id=ViewBag.id, pagina = ViewBag.PaginaActual - 1 })">Anterior</a>
    }
    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new { id=ViewBag.id, pagina = i })">@i</a>
    }
    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a class="pag_a" href="@Url.Action("ResultadosLaboratorio", new {  id=ViewBag.id, pagina= ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>

<div class="div-title-vistas">
<h2 class="float-end m-0 p-0"><strong><i class="bi bi-person-lines-fill"></i> Resultados Laboratorio</strong></h2>
<span class="clearfix"></span>
<h3 class="float-end m-0 p-0"><strong>Paciente:</strong> @ViewBag.name</h3>

    <a href="@Url.Action("DetallesPaciente", "Detallesvistas", new { id = ViewBag.id })" style="background-color: teal;" class="btn text-white"><i class="bi bi-arrow-90deg-left"></i> Regresar</a>
<!--<a class="btn bg-secondary text-white" asp-controller="DetallesVistas" asp-action="DetallesPaciente">Regresar</a>-->
    <a class="btn text-white" style="background-color: teal;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle"></i> Agregar resultado</a>
<!--<a class="btn bg-secondary text-white" asp-controller="Usuarios" asp-action="Empleados">Ver Empleados</a>-->

    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center fs-5" id="exampleModalLabel"><i class="bi bi-file-earmark-plus"></i> Agregar historial medico</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Detallesvistas" asp-action="Guardarrlaboratorio" method="post">
                <input type="hidden" asp-for="PacienteID" value="@ViewBag.id" />
                <input type="hidden" asp-for="name" value="@ViewBag.name" />
                <div class="modal-body">

                    <div class="mb-2">
                        <label asp-for="NivelGlucosa" class="form-label">Nivel Glucosa</label>
                        <input asp-for="NivelGlucosa" class="form-control" id="glucosa">
                        <span asp-validation-for="NivelGlucosa" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Comentarios" class="form-label">Comentarios</label>
                        <input asp-for="Comentarios" class="form-control" id="Comentarios">
                        <span asp-validation-for="Comentarios" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="OtrosResultados" class="form-label">Otros Resultados</label>
                        <input asp-for="OtrosResultados" class="form-control" id="otros">
                        <span asp-validation-for="OtrosResultados" class="text-danger"></span>
                    </div>
                    <!----
                    <div class="mb-2">
                        <label for="pdf" class="form-label">Archivo</label>
                        <input asp-for="FileUpload" accept="application/pdf" class="form-control" id="pdf">
                        <span asp-validation-for="FileUpload" class="text-danger"></span>
                    </div>
                    -->
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn text-white" style="background-color:teal;"><i class="bi bi-save"></i> Guardar Información</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="tablas bg-white overflow-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha control</th>
                <th scope="col">Nivel glucosa</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Otros resultados</th>
                <!--
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
                -->
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < ViewBag.DatosTabla1.Count; index++)
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@ViewBag.DatosTabla1[index].FechaControl</td>
                    <td>@ViewBag.DatosTabla1[index].NivelGlucosa</td>
                    <td>@ViewBag.DatosTabla1[index].Comentarios</td>
                    <td>@ViewBag.DatosTabla1[index].OtrosResultados</td>
                    <!--
                    <td style="width:100px;">
                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = ViewBag.DatosTabla1[index].ResultadoID })" class="btn btn-success">Editar</a>
                    </td>

                    <td style="width:100px;">
                        <form asp-action="Eliminarusu" asp-controller="Usuarios" method="post">
                            <input type="hidden" name="id" value="@ViewBag.DatosTabla1[index].ResultadoID" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    -->
                </tr>
            }

        </tbody>
    </table>

</div>

