@model softwareDeGestión.Models.Usuarios.Login
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center position-fixed top-0 end-0 bottom-0 start-0" style="background-color: cadetblue;">

<div class="container p-5 my-5 shadow bg-white" style="width:500px;">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <h3 class="text-center">LOGIN</h3>
        @Html.AntiForgeryToken()
        <div class="col-md-3 w-100 form-horizontal mb-4">
            <br />
            @Html.TextBoxFor(x => x.Usuario,
                     new { @class = "form-control w-100", placeholder = "Ingrese Usuario.", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.Usuario, null, new { @class = "text-danger" })
            <br />
            @Html.PasswordFor(x => x.Contra,
                     new { @class = "form-control w-100", placeholder = "Ingrese Contraseña." })
            @Html.ValidationMessageFor(x => x.Contra, null, new { @class = "text-danger" })
        </div>

        <div class="col-md-3 w-100 form-horizontal">

            <button class="btn btn-primary" type="submit">
                Verificar
            </button>

        </div>

    }
</div>

</div>
